*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}
button {
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 100%;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 224, 229, 0.8);
  transition: all;
}

.background-404 {
}
